.Signup{
    background-color: black;
    min-height: 490px;
    display: flex;
}

/* Style the form container */
.form-container-Signup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust width as needed */
    margin: 3% 6%; /* Center the form horizontally */
  }
  
  /* Style the form title */
  .form-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  /* Style the form groups */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style the form labels */
  .form-label {
    font-size: 16px;
    color: #555;
  }
  
  /* Style the form inputs */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Style the submit button */
  .btn-submit {
    width: 100%;
    padding: 10px;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Hover effect for the submit button */
  .btn-submit:hover {
    background-color: #0056b3;
  }
  